@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    max-width: 1872px;
    height: 850px;
    background: rgba(229, 84, 115, 0.1);

    /* border: green 2px solid; */


}

/* sheared styles  */
.btn-container {

    border: none;
    background: rgb(229, 84, 115);
}

/* header section styles */

.header-container-btn {
    background-color: rgb(229, 84, 115);
    padding: 10px;
    margin-top: 20px;
    /* display: flex; */
    width: 100px;
    border-radius: 5px;
    /* justify-content: left;
    align-items: start; */

}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;


}

.header-container-text {
    position: absolute;
    width: 708px;
    height: 506px;
    left: 240px;
    right: 972px;
    top: 197px;
    bottom: 4164px;
    /* border: red 2px solid; */
}

.header-container-image {
    position: absolute;
    width: 635px;
    height: 800px;
    left: 1045px;
    right: 240px;
    top: 50px;
    bottom: 4017px;
    /* border: 2px solid orange; */
}

.header-title {
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 80px;
    font-weight: 600;
    line-height: 76px;
    letter-spacing: 0%;
    text-align: left;
}

.header-subtitle {
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 30px;
}

/* our featured flowers styles  */
.flower-container {
    position: absolute;
    width: 594px;
    height: 132px;
    margin-top: 40px;
    left: 663px;

    /* margin: 40px auto; */
    /* right: 663px; */
    /* top: 1028px; */
    /* bottom: 3707px; */

    /* border: rgb(10, 255, 23) 2px solid; */

}

.flower-content {
    width: 90%;
    height: 80%;
    margin: 20px auto;
    /* margin-top: 100px; */

    border: rgb(255, 255, 255) 2px solid;

}

.flower-container-subtitle {
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 20px;

    /* border: rgb(238, 4, 168) 2px solid; */
}

.flower-container-taitle {
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;

    /* border: darkblue 2px solid; */
}

#featured-flower {
    max-width: 1872px;
    height: 875px;

    margin-top: 50px;

    /* border: rgb(255, 255, 255) 2px solid; */
}

.flower-container-image {

    width: 1440px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 400px;
    margin: 290px auto;
    /* border: rgb(0, 47, 255) 2px solid; */


}

.flower-one,
.flower-two,
.flower-three {

    border-radius: 50% 50% 0 0;
    width: 400px;
    height: 400px;
    margin-bottom: 400px;
    /* border: black 2px solid; */
}

.flower-one {
    background-color: rgba(167, 33, 98, 0.15);
}

.flower-two {
    background-color: rgba(5, 151, 160, 0.15);
}

.flower-three {
    background-color: rgba(71, 125, 17, 0.15);
}

#flower-one-id>img {

    margin: 50px auto;
    width: 310px;
    height: 350px;
    margin-left: 45px;
    align-items: center;

    /* border: red 2px solid; */
}

#flower-two-id>img {
    width: 310px;
    height: 350px;
    margin: 50px auto;
    margin-left: 45px;
    align-items: center;

    /* border: red 2px solid; */
}

#flower-three-id>img {
    width: 310px;
    height: 350px;
    margin: 50px auto;
    margin-left: 45px;
    align-items: center;

    /* border: red 2px solid; */
}

#featured-flower>footer {
    width: 90%;
    height: 5%;
    margin: auto;
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 20px;
    font-weight: 600;
    text-decoration-line: underline;
    cursor: pointer;

    display: flex;
    justify-content: space-evenly;
    /* border: yellow 2px solid; */
}

/* logu styles sells suppert */

#logu {
    width: 70%;
    height: 215px;
    margin: 0% auto;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    /* display: flex; */
    /* justify-content: space-around; */
    /* text-align: center; */
    /* align-items: center; */
    /* gap: 50px; */

    /* border: red 2px solid; */

}

.logu-continer {
    display: flex;
    padding: 50px;
    margin-bottom: 30px;
    justify-content: space-around;
    /* align-items: center;
    text-align: center; */

    /* border: yellow 2px solid; */

}

.delivery-container,
.local-container,
.support-container {
    height: 16px;
    justify-content: center;
    color: rgba(39, 39, 39, 0.8);
    font-family: Lato;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: center;
    padding: 20px;

}
.delivery-container>img,
.local-container>img,
.support-container>img{
    /* background-color: rebeccapurple; */
    width: 70px;
    

    border: rgba(37, 41, 37, 0.205) 2px dashed;
}

.delivery-container>p,
.local-container>p,
.support-container>p{

    padding: 20px;
}